<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>a local bot</title>

    <meta name="description" content="a local bot">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style>
      .submit {
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
      }
      .submit:hover {
        cursor: default;
      }
    </style>
  </head>

  <body>
    <div data-view="video_form">
      <input type="text" id="url">
      <a class="submit">send</a>
    </div>
    <script src="/components/requirejs/require.js" data-main="js/local_bot"></script>
  </body>
</html>