<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>a local bot</title>

    <meta name="description" content="a local bot">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>

  <body>
    <div id="ytplayer"></div>
    <script src="https://www.youtube.com/player_api" type="text/javascript"></script>
    <script src="/components/requirejs/require.js" data-main="js/web_player"></script>
  </body>
</html>